<app-header></app-header>

<main>

  <section id="home">

    <div class="main_title" animationChain [chainDelay]="120" [delay]="800">
      <h1 class="fadeInTranslate" animationLink>David Ferlay</h1>
      <h1 class="fadeInTranslate" animationLink>Développeur web</h1>
      <p style="width: 500px; font-size: .9em;  overflow: auto; box-sizing: border-box;" class="fadeInTranslate" animationLink>
        Text
      </p>
      <button class="large fadeInTranslate" animationLink>Commencer la visite</button>
    </div>

  </section>

  <section id="review">
    <div animationChain [chainDelay]="200">
      <h2 class="fadeInTranslate hight horizontal" animationLink>A propos</h2>
      <h2 class="fadeInTranslate hight horizontal" animationLink>A propos</h2>
      <h2 class="fadeInTranslate hight horizontal" animationLink>A propos</h2>
      <h2 class="fadeInTranslate hight horizontal" animationLink>A propos</h2>
      <h2 class="fadeInTranslate hight horizontal" animationLink>A propos</h2>
      <h2 class="fadeInTranslate hight horizontal" animationLink>A propos</h2>
      <h2 class="fadeInTranslate hight horizontal" animationLink>A propos</h2>
      <h2 class="fadeInTranslate hight horizontal" animationLink>A propos</h2>
    </div>

  </section>

  <div animationChain [delay]="1500">
    <app-network-bar class="fadeIn" animationLink ></app-network-bar>
  </div>


  <router-outlet (activate)="onActivate()"></router-outlet>

</main>
