main{
  margin-top: var(--header-height);
  padding: 25px 120px;
  overflow: hidden;
}

footer{
  height: 250px;
  background: var(--navy-shadow);
}


@media screen and (max-width: 770px){

  main{
    padding: 10px 5%;
  }

}
