main{
  margin-top: var(--header-height);
  padding: 25px 120px;
  overflow: hidden;

  section{
    height: 100vh;
    box-sizing: border-box;

    &:first-child{
      height: calc(100vh - 80px);
    }
  }

  h1{
    font-size: 4.5em;
    margin: -5px;
    padding: 3px 0 0;
    //font-family: "Roboto Condensed";
    font-weight: 700;
    letter-spacing: 3px;
    color: var(--white);
  }

  p{
    width: 100%;
    padding: 0;
    overflow: scroll;
  }

  h2{
    color: var(--white);
    position: relative;
    display: flex;
    align-items: center;
    width: 500px;

    &::after{
      background: var(--grey);
      height: 1px;
      width: 200px;
      margin-left: 5px;
      content: '';
      display: block;
    }
  }
}

.main_title{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15%;

  h1:nth-child(2){
    color: var(--grey);
  }

  button{
    margin-top: 20px;
  }
}

@media screen and (max-width: 770px){

  main{
    padding: 10px 5%;
  }

}
