main{
  overflow: hidden;

  &.navigable {
    margin-top: var(--header-height);
    padding: 25px 120px;
  }
}

footer{
  height: 250px;
  background: var(--navy-shadow);
}


@media screen and (max-width: 770px){

  main.navigable{
    padding: 10px 5%;
  }

}
