<span #anchor id="begin" style="position: absolute; top: 0; left: 0"></span>
<section id="home">

  <div class="main_title">
    <h1 data-aos="fade-up">David Ferlay</h1>
    <h1 data-aos="fade-up" data-aos-delay="150">Développeur web</h1>
    <p style="font-size: .9em;  overflow: auto; box-sizing: border-box;" data-aos="fade-up" data-aos-delay="300">
      Text
    </p>
    <button class="large" (click)="navigationService.scrollTo('review')" data-aos="fade-up">Commencer la visite</button>
  </div>

  <app-avatar></app-avatar>

  <!-- <app-field></app-field> -->

</section>

<section id="review" #anchor>
  <div class="section-block">
    <h2 class="fadeIn translateY"><i class="fa-solid fa-caret-right"></i>A propos</h2>
  </div>
  <div class="grid">
    <div class="skill-list">
      <h3>Services</h3>
      <ul>
        <li>Site web, site vitrine, E-commerce ...</li>
        <li>Devis gratuit</li>
        <li>Accompagnement et suivi</li>
        <li>Bonjour</li>
      </ul>
    </div>

    <div class="skill-list">
      <h3>Frontend</h3>
      <div *ngFor="let skill of skills?.front">
        <app-progress-bar [title]="skill.label" [percent]="skill.level"></app-progress-bar>
      </div>
    </div>

    <div class="skill-list">
      <h3>Backend</h3>
      <div *ngFor="let skill of skills?.back">
        <app-progress-bar [title]="skill.label" [percent]="skill.level"></app-progress-bar>
      </div>
    </div>

  </div>
</section>

<section id="experiences"></section>

<section id="projects" class="nolimit" #anchor>
  <app-project></app-project>
  <app-project class="odd"></app-project>
</section>

<section id="contact"></section>
