<span #anchor id="begin" style="position: absolute; top: 0; left: 0"></span>
<section id="home" class="first">

  <div class="main_title">
    <h1 data-aos="fade-up" data-aos-delay="700">David Ferlay</h1>
    <h1 data-aos="fade-up" data-aos-delay="800">Développeur web</h1>
    <p style="font-size: .9em;  overflow: auto; box-sizing: border-box;" data-aos="fade-up" data-aos-delay="900">
      Full stack
    </p>
    <div class="button-wrapper">
      <button class="large" (click)="navigationService.scrollTo('review')" data-aos="fade-up" data-aos-delay="1000" data-aos-offset="-100">Commencer la visite</button>
    </div>

  </div>

  <app-avatar></app-avatar>

  <!-- <app-field></app-field> -->

</section>

<section id="review" #anchor class="nolimit">
  <h2 data-aos="fade-left"><span>01.</span>A propos</h2>
  <div class="resumeNav">
    <span class="navLink active" #navLink (click)="onResumeNavLinkClick(0)">Services</span>
    <span class="navLink" #navLink (click)="onResumeNavLinkClick(1)">Comp. front</span>
    <span class="navLink" #navLink (click)="onResumeNavLinkClick(2)">Comp. back</span>
  </div>
  <div class="grid-wrapper">
    <div class="grid" #grid>
      <div class="skill-list">
        <h3 data-aos="fade">Services</h3>
        <ul>
          <li data-aos="fade-up" data-aos-delay="0">Site web, site vitrine, E-commerce ...</li>
          <li data-aos="fade-up" data-aos-delay="50">Devis gratuit</li>
          <li data-aos="fade-up" data-aos-delay="100">Accompagnement et suivi</li>
          <li data-aos="fade-up" data-aos-delay="150">Bonjour</li>
        </ul>
      </div>

      <div class="skill-list">
        <h3 data-aos="fade" data-aos-delay="350">Frontend</h3>
        <div *ngFor="let skill of skillService.skillMap?.front; let index = index" data-aos="fade-up" [attr.data-aos-delay]="300 + index * 50" >
          <app-progress-bar [title]="skill.label" [percent]="skill.level"></app-progress-bar>
        </div>
      </div>

      <div class="skill-list">
        <h3 data-aos="fade" data-aos-delay="450">Backend</h3>
        <div *ngFor="let skill of skillService.skillMap?.back; let index = index" data-aos="fade-up" [attr.data-aos-delay]="(400 + 50 * skillService.skillMap?.front!.length) + 50 * index">
          <app-progress-bar [title]="skill.label" [percent]="skill.level"></app-progress-bar>
        </div>
      </div>

    </div>
  </div>

</section>

<section id="experiences" class="nolimit">
  <h2 data-aos="fade-left"><span>02.</span>Expérience</h2>
  <app-experience *ngFor="let exp of experienceService.experiences" data-aos="zoom-in"
    [title]="exp.title" [experience]="exp"></app-experience>
</section>

<section id="projects" class="nolimit" #anchor>
  <h2 data-aos="fade-left" style="margin-bottom: 50px"><span>03.</span>Projets</h2>

  <div data-aos="zoom-in-right" data-aos-duration="700" data-aos-offset="200" *ngFor="let project of projectService.projects; let index = index">
    <app-project [ngClass]="{'odd': index % 2 !== 0}" [project]="project"></app-project>
  </div>

</section>

<section id="contact" class="nolimit">
  <h2 data-aos="fade-left"><span>04.</span>Me contacter</h2>
  <div class="form-container" >
    <form data-aos="zoom-in" data-aos-offset="200">
      <app-field label="Adresse e-mail" formControlName="label"></app-field>
      <app-field label="Objet" formControlName="level"></app-field>
      <app-field [multiline]="true"></app-field>
      <button type="submit" class="squared" placeholder="Entrez votre message">Envoyer</button>
    </form>
  </div>

</section>
