.content{

  padding: 8px 0;
  width: 300px;
  max-width: 90%;

  label{
    color: var(--white);
    display: inline-block;
    font-size: 1em;
  }

  span{
    color: var(--white);
    align-self: flex-end;
    font-size: .8em;
  }

  .bar{
    height: 2px;
    width: 100%;
    background: var(--grey);
    position: relative;

    .fill{
      position: absolute;
      left: 0;
      top: 0;
      height: 2px;
      width: 90%;
      background: var(--green);
    }
  }
}
