header{

  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  transition: all .3s ease-out;
  backdrop-filter: blur(1.5em);
  z-index: 100;

  &:not(.visible){
    transform: translateY(-100%);
    backdrop-filter: none;
  }

  &:not(.sticky){
    box-shadow: 0 10px 30px -10px var(--navy-shadow);
  }

  .logo{
    height: 30px;
    border: 3px solid var(--green);
    width: 30px;
    border-radius: 50%;
    position: relative;
    color: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:before{
      content: "D";
    }
  }

  nav{
    display: flex;
    align-items: center;
    ul{
      display: flex;
      padding: 0;
      margin: 0;
      height: 100%;
      list-style-type: none;
      margin-right: 40px;

      li{
        a{
          padding: 10px 15px;
          cursor: pointer;
          transition: all .2s;
          font-size: .9em;
          text-align: center;


          i{
            margin-right: 6px;
            font-size: .9em;
            color: var(--green);
            position: relative;
            //top: -1px;
          }

          &:hover{
            color: var(--green);
          }
        }
      }
    }
  }


}

.chapter-group{
  position: fixed;
  right: 20px;
  //bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  transform: translate(calc(100% + 30px), -50%);
  transition: all .3s ease-out;

  &.visible{
    transform: translate(0, -50%);
  }

  top: 50%;

  .chapter{
    width: 30px;
    height: 30px;
    display: inline-block;
    border: 2px solid var(--green);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &.current {
      background: red;
    }

    &.disabled{
      color: var(--grey);
      border-color: var(--grey);
      pointer-events: none;
    }

    &:first-child{
      margin-bottom: 10px;
    }

  }
}

.nav-shortcut {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background: var(--navy-shadow);
  right: 10px;
  bottom: 10px;
  //transform: translateY(-50%);
  z-index: 1000;
  border-radius: 50%;
  opacity: .3;
  transition: all .3s;

  &:hover {
    opacity: 1;
  }
}

@media screen and (max-width: 800px){
  header{
    padding: 0 5%;

    &.open {
      transition: all 0;
      backdrop-filter: none;
      background: var(--navy);
      nav {
        transform: translateX(0);
      }
    }

      nav{
        position: fixed;
        height: calc(100vh - 80px);
        width: 100%;
        top: 80px;
        left: 0;
        transform: translateX(100%);
        background: var(--navy);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .3s;

        button {
          display: none;
        }
        ul {
          flex-direction: column;
          height: fit-content;
          transform: translate(0, -68px);
          margin: 0;
          position: relative;
          font-size: 1.5em;
          gap: 20px;
          align-items: center;
        }

      }

  }

  .chapter-group{
    display: none;
  }
}
