<header [ngClass]="{'sticky': isSticky, 'visible': isVisible}" class="sticky visible">

  <div class="logo" (click)="onLogoClick()"></div>

  <nav>

    <ul>
        <li *ngFor="let link of navLinks; let index = index" data-aos="fade" [attr.data-aos-delay]="index * 100" ><a (click)="navigationService.scrollTo(link.anchor)"><i [class]="link.icon"></i>{{link.label}}</a></li>
    </ul>

    <button [attr.data-aos-delay]="(navLinks.length + 1) * 100" data-aos="fade">Télécharger CV</button>

  </nav>

</header>

<div class="chapter-group" [ngClass]="{'visible': !isVisible}">
  <a class="chapter" (click)="navigationService.scrollTo('begin')"><i class="fas fa-angle-up"></i></a>
  <a class="chapter" *ngFor="let link of navLinks" (click)="navigationService.scrollTo(link.anchor)"><i [class]="link.icon"></i></a>
</div>
