<header [ngClass]="{'sticky': isSticky, 'visible': isVisible}" class="sticky visible">

  <div class="logo" ></div>

  <nav>
    <ul scrollAnimatedBlock [chainDelay]="120" [async]="true" [dataList]="navLinks" [childrenTransitionDelay]="500">
        <li *ngFor="let link of navLinks" class="fadeIn" scrollAnimatedNode><a (click)="navigationService.scrollTo(link.anchor)"><i [class]="link.icon"></i>{{link.label}}</a></li>
    </ul>

    <div scrollAnimatedBlock [delay]="250" [childrenTransitionDelay]="500">
      <button class="fadeIn" scrollAnimatedNode>Télécharger CV</button>
    </div>

  </nav>

</header>
