.field-group{
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 0.6em;
  margin-bottom: 20px;

  label{
    font-weight: 400;
    font-size: .8em;
    position: absolute;
    top: -9px;
    background: var(--navy);
    padding: 0 5px;
    color: var(--green);
    left: 9px;
    height: 18px;
    line-height: 18px;
    box-sizing: border-box;

    //left: 20px;
  }

  .field{
    background: transparent;
    border: 1px solid var(--white);
    outline: none;
    color: var(--white);
    padding: 7px 20px;
    font-size: 1.1em;
    border-radius: 5px;
    height: 30px;

    // border-bottom-left-radius: 50px;
    // border-bottom-right-radius: 50px;
    // border-top-left-radius: 50px;
    // border-top-right-radius: 50px;
  }

  i{
    height: 50px;
    background: red;
  }
}
