.field-group{
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 0.6em;
  margin-bottom: 20px;

  label{
    position: absolute;
    color: var(--dark-green);
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    pointer-events: none;
    transition: all .2s;

    //left: 20px;
  }

  .field{
    //background: var(--navy-lite);
    background: var(--navy);
    height: 50px;
    border: none;
    border-bottom: 3px solid var(--dark-green);
    outline: none;
    color: var(--white);
    padding: 0 8px;
    font-size: 1.1em;

    border: 3px solid var(--grey);
    border-radius: 3px;

    &.multiline {
      height: 250px;
      resize: none;
    }

    &:not(:placeholder-shown), &:focus{

      & + label {
        transform: translate(-15px, -45px);
        font-size: .8em;
      }

    }
  }

  i{
    height: 50px;
    background: red;
  }
}
