<div>
  <div class="moon" scrollAnimatedNode>
    <img src="../../../../assets/bimoji.png">
  </div>
  <div class="networks">
    <a class="network" href="https://www.linkedin.com/in/david-ferlay-dev/" target="_blank" rel="noopener noreferrer" title="Linkedin"><i class="fab fa-linkedin-in"></i></a>
    <a class="network" href="https://github.com/DavidFerlay1" target="_blank" rel="noopener noreferrer" title="Linkedin"><i class="fab fa-git"></i></a>
    <a class="network disabled"><i class="fab fa-instagram"></i></a>
  </div>
</div>
<!-- style="position: absolute; top: -30px; left: -20px;" -->
