.moon{
  position: relative;
  // top: 50%;
  // transform: translateY(-50%);
  width: 350px;
  height: 350px;
  //background: var(--grey);
  // right: 10%;
  border-radius: 50%;
  //box-shadow: 50px 65px  100px #666 inset;
  overflow: hidden;
  border: 2px solid var(--green);
  transition: .2s;
  display: flex;
  justify-content: center;
  align-items: center;

  img{
    //width: 350px;
    position: absolute;
    top: -33px;
  }
}

.hole{
  width: 20px;
  height: 20px;
  //position: absolute;
  //top: 1;
  background :var(--green);
  border-radius: 50%;

}

.networks{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;

  .network{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid var(--green);
    color: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s;

    &.disabled{
      border-color: var(--grey);
      color: var(--grey);
      pointer-events: none;
    }

    i{
      font-size: 1.4em;
    }

    &:hover{
      transform: translateY(-5%);
    }

  }
}

@media screen and (max-width: 1300px){
  .moon{
    width: 200px;
    height: 200px;

    img{
      width: 200px;
    }
  }

  .networks{

  }
}

@media screen and (max-width: 700px) {

  .moon{
    width: 150px;
    height: 150px;

    img{
      transform: scale(.8) translateY(10px);
    }
  }

  .networks{
    .network{
      width: 35px;
      height: 35px;

      font-size: .8em;
    }
  }

}
