.fadeIn{
  opacity: 0;

  &.triggered{
    opacity: 1;
  }
}

.translateY{
  transform: translateY(3vh);

  &.triggered{
    transform: translateY(0);
  }
}

.translateX{
  transform: translateX(10vw);

  &.reverse{
    transform: translateX(-10vw);
  }

  &.triggered{
    transform: translateY(0);
  }
}

.deepFade{
  opacity: 0;

  &.triggered{

    opacity: 1 !important;
  }
}
