
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$portfolio-primary: mat.define-palette(mat.$indigo-palette);
$portfolio-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$portfolio-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$portfolio-theme: mat.define-light-theme((
  color: (
    primary: $portfolio-primary,
    accent: $portfolio-accent,
    warn: $portfolio-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($portfolio-theme);

@import './animation.scss';

:root{

  --green: #64ffda;
  --dark-green: #4bbfa4;
  --green-transparent: #4bbfa433;
  --navy: #0a192f;
  --navy-shadow: rgba(2,12,27,0.7);
  --navy-transparent: rgba(10, 25, 47, .5);
  --navy-lite: #112240;
  --white: #ccd6f6;
  --grey: #8892b0;
  --success: rgba(55,245,18,0.6);
  --danger: rgba(228, 0, 0, 0.6);

  --header-height: 80px;

  html{
    scroll-behavior: smooth;
  }

  body{
    background: var(--navy);
    color: var(--grey);
    font-family: Roboto;
    margin: 0;
    padding: 0;

    a{
      color: var(--white);
      transition: all .2s;
      cursor: pointer;
      text-decoration: none;

      &:visited{
        color: var(--white);
      }
      &:hover{
        color: var(--green);
      }
    }

    button:not([mat-button], .ql-link, .ql-format, .ql-code-block, .ql-clean, .ql-image, .ql-list, .ql-bold, .ql-italic, .ql-underline){
      padding: 10px 20px;
      border: 3px solid var(--green);
      color: var(--white);
      letter-spacing: 3px;
      background-color: transparent;
      border-radius: 3px;
      cursor: pointer;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      font-family: Roboto;
      transition: all .2s;

      &.danger:not(:disabled) {
        color: rgb(255, 176, 176);
      }

      &:disabled{
        pointer-events: none;
        border-color: var(--grey);
      }

      &:hover{
        background: rgba(100,255,218,0.1);
      }

      &.large{
        padding: 20px 30px;
        font-size: 1.2em;
      }

      &[type=submit]{
        border-radius: 5px;
        width: 100%;
        height: 50px;
        font-family: Roboto;
        font-size: 1.1em;
      }
    }

    h1{
      box-sizing: border-box;
    }

    select {
      appearance: none;
      background: transparent;
      color: var(--green);
      //background: var(--navy-lite);
      background: var(--navy);
      height: 50px;
      border: none;
      outline: none;
      color: var(--white);
      padding: 0 8px;
      font-size: 1.1em;
      padding: 0 20px;

      border: 3px solid var(--green);
      border-radius: 3px;
      position: relative;

      &::after {
        position: absolute;
        right: 20px;
        top: 0;
        content: 'A';
        display: block;
      }
    }

    input[type=radio] {
      width: 25px;
      height: 25px;
      appearance: none;
      border: 2px solid var(--green);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:checked::after{
        content: '';
        background: var(--green);
        display: block;
        height: 70%;
        width: 70%;
        border-radius: 50%;

      }
    }

    .checkbox-group {
      display: flex;
      align-items: center;
      gap: 8px;

      label{
        color: var(--white);
        cursor: pointer;
      }
    }
  }
}

.info{
  background: var(--green-transparent);
}

.success{
  background: var(--success);
}

.danger{
  background: var(--danger);
}

.itemList{
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--dark-green);
  overflow: hidden;
  overflow-y: auto;
  border-radius: 3px;
  height: 100%;
  max-height: 100%;

  li {
    display: flex;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    color: var(--white);
    transition: all .2s;
    cursor: pointer;
    border-bottom: 2px solid var(--dark-green);

    &.selected {
      background: var(--dark-green);
      color: var(--navy)
    }

    &:not(:last-child) {

    }

    &:not(.selected):hover{
      background: var(--green-transparent);
    }
  }
}

.dialogs-ref > .mat-dialog-container {
  background: var(--navy);
  width: 800px;
  max-height: 500px;
  padding: 25px;

  h5{
    color: var(--white);
    font-size: 1.2em;
    margin: 0;
    padding:  0;
    margin-bottom: 50px;
  }
}

p-editor {

  button {
    color: var(--white) !important;
  }

  .p-editor-container {

    .p-editor-toolbar {
      background: transparent;

      &.ql-snow .ql-picker .ql-picker-label {
        color: var(--white);
      }

      &.ql-snow .ql-stroke {
        stroke: var(--white);
      }

      &.ql-snow .ql-picker.ql-expanded .ql-picker-label .ql-stroke {
        stroke: var(--white);
      }
    }
  }

  .p-editor-container .ql-snow.ql-toolbar button.ql-active .ql-stroke, .p-editor-container .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke, .p-editor-container .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke{
    stroke: var(--green);
  }

  .p-editor-container .p-editor-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
    background: var(--navy-shadow);
  }

  .p-editor-container .p-editor-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options .ql-picker-item:hover {
    background: var(--dark-green);
    color: var(--white) !important;
  }

  .p-editor-container .p-editor-content .ql-editor {
    height: 300px;
    background: transparent;
    color: var(--white);
  }

  .p-editor-container .p-editor-content .ql-editor, .p-editor-container .p-editor-toolbar.ql-snow {
    border: 3px solid var(--grey);
  }

  .p-editor-container .p-editor-toolbar.ql-snow {
    border-bottom: none;
  }

  .p-editor-container .p-editor-content.ql-snow {
    border: none;
  }

  &.readOnly {
    .p-editor-container .p-editor-toolbar {
      display: none;
    }

    .p-editor-container .p-editor-content .ql-editor {
      border-radius: 3px;
    }
  }
}

p-dynamicdialog {
  .p-dialog .p-dialog-header, .p-dialog .p-dialog-content, .p-dialog .p-dialog-footer {
    background: var(--navy);
    color: var(--grey);
  }

  .p-component-overlay {
    background-color: var(--green-transparent) !important;
  }

  .p-dialog .p-dialog-header .p-dialog-header-icon:enabled:hover, .p-dialog .p-dialog-header .p-dialog-header-icon:enabled:active {
    background: transparent;
    color: var(--green);
  }

  .p-dialog .p-dialog-header {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .p-dialog .p-dialog-footer {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 0;
  }

  .p-dialog .p-dialog-content{
    padding-top: 25px;
  }

}

.dialogs-ref.confirm > .mat-dialog-container{
  width: 500px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--navy)
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--dark-green);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--green)
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
