section{
  height: calc(100vh - 130px);
  padding: 50px;
  box-sizing: border-box;
  border: 1px solid var(--green);
  border-radius: 3px;
  position: relative;
  margin-bottom: 104px;

  h1{
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
  }

  .button-grid {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .preview {
    border-radius: 3px;
    border: 2px solid var(--dark-green);
    padding: 20px;
  }

  .checkIcon{
    color: var(--green);
    font-size: 1.3em;
    animation-delay: 2s;
    animation: checkIconAppears .3s forwards;
  }

  .pro-grid {
    display: grid;
    grid-template-columns: 2fr 3fr;
    height: calc(100% - 70px);
    gap: 30px;
    position: relative;

    button {
      margin-top: 5px;
    }
  }
}

input[type=file] {
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
}

:host ::ng-deep app-item-list > div{
  height: 100%;
}

@keyframes checkIconAppears {
  from{
    transform: scale(0) rotate(180deg);
  }
  to{
    transform: scale(1) rotate(0);
  }
}
